<% layout('/layouts/boilerplate') %>


<div class="activity-log border">
  <h4 class="ms-2">Activity Log</h4>
  <% activities.forEach(activity => { %>
    <div class="activity-item">
      <div class="activity-info border-top border-secondary">
        <span class="activity-timestamp "><%= activity.timestamp.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) %></span>
        <span class="activity-user"><%= activity.user %></span>
      </div>
      <div class="activity-action"><%= activity.action %></div>
    </div>
  <% }); %>
</div>
  